@model IEnumerable<Burkina.Donations.Domain.Entities.Donor>

@{
    ViewBag.Title = "Doadores";
}

<h2>Doadores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_DONOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DS_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DS_EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DS_PASSWORD)
        </th>
        <th></th>
    </tr>

    int total = 0;

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_DONOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DS_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DS_EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DS_PASSWORD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_DONOR }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_DONOR }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_DONOR })
        </td>
    </tr>
}

    <h2>@Model.Sum(model => model.ID_DONOR) </h2>

</table>
